
@model List<int>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Deployment CI/CD</h1>
    <h2 style="color:blue">@ViewData["HOLA QUE TAL"]</h2>
    <img src="~/images//Pato Asado.jpg" style="width:90px; height:90px"/>
    <ul>
        @foreach(int num in Model)
        {
            <li class="list-group-item">
                @num
            </li>
        }
    </ul>
</div>
